<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var array $query
 */

$translate = $this->plugin('translate');
$hyperlink = $this->plugin('hyperlink');
$itemSetSelect = $this->plugin('itemSetSelect');

$isSiteRequest = $this->status()->isSiteRequest();

// Prepare the item set queries
$ids = $query['item_set_id'] ?? [];
if (!is_array($ids)) {
    $ids = [$ids];
}
$ids = array_filter($ids) ?: [null];
?>

<div id="item-sets" class="field removable multi-value" role="group">
    <div class="form-group row ">
        <label class="col-sm-2 col-form-label" for=""><?= $translate('Search by item set') ?></label>
        <div class="col-sm-10">
            <?php foreach ($ids as $id): ?>
            <div class="form-row value">
                <div class="col my-1">
                    <?= $itemSetSelect([
                        'name' => 'item_set_id[]',
                        'options' => [
                            'disable_group_by_owner' => $isSiteRequest,
                        ],
                        'attributes' => [
                            'value' => $id,
                            'aria-labelledby' => 'by-item-set-label',
                            'class' => 'chosen-select form-control',
                        ],
                    ]) ?>
                </div>
                <div class="col-1 my-1">
                    <button type="button" class="remove-value btn btn-purplepink" title="<?= $translate('Remove value') ?>">
                        <span class="fa fa-minus" aria-hidden="false"></span>
                    </button>
                </div>
            </div>
            <?php endforeach; ?>
            <?= $hyperlink($translate('Add new item set'), '#', ['class' => 'add-value']) ?>
            <?php /*
            <div class="collapsible">
                <div class="field-description"><?= $translate('Searches for items that are assigned to any of these item sets.') ?></div>
            </div>
            <?= $hyperlink('', '#', ['class' => 'expand', 'title' => $translate('Expand')]) ?>
            */ ?>
        </div>
    </div>
</div>
