<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var array $query
 */

// FIXME Certaines classes et div sont commentées, car cela évite de casser le js (problème au niveau de l'index).

$translate = $this->plugin('translate');
$escape = $this->plugin('escapeHtml');
$hyperlink = $this->plugin('hyperlink');
$siteSetting = $this->plugin('siteSetting');
$propertySelect = $this->plugin('propertySelect');

$isSiteRequest = $this->status()->isSiteRequest();
$searchApplyTemplates = $isSiteRequest ? $siteSetting('search_apply_templates', []) : false;
$usedTerms = $isSiteRequest ? $siteSetting('next_search_used_terms') : false;

// Prepare the property queries.
$properties = $query['property'] ?? [];
$properties = array_filter($properties, function ($value) {
    return isset($value['text']) ? '' !== trim($value['text']) : true;
});
if (!$properties) {
    $properties[] = [];
}

if (isset($query['search'])) {
    unset($properties[0]['joiner']);
    array_unshift($properties, [
        'property' => '',
        'type' => 'in',
        'text' => $query['search'],
    ]);
}

$queryOption = function ($value, array $search, $key, $text) {
    $selected = null;
    if (isset($search[$key]) && $value === $search[$key]) {
        $selected = ' selected';
    }
    return sprintf('<option value="%s"%s>%s</option>', $value, $selected, $text);
};
$queryText = function (array $search, $index) use ($translate, $escape) {
    $text = $search['text'] ?? null;
    // return sprintf('<input type="text" class="query-text form-control" name="%s" value="%s" aria-label="%s"/>',
    return sprintf('<input type="text" class="query-text" name="%s" value="%s" aria-label="%s"/>',
        $escape("property[$index][text]"),
        $escape($text),
        $escape($translate('Query text')));
};
?>

<div id="property-queries" class="field removable multi-value" role="group" aria-labelledby="by-value-label">
    <div class="form-group row ">
        <label class="col-sm-2 col-form-label" for=""><?= $translate('Search by value') ?></label>
        <div class="col-sm-10">
            <?php
            $index = 0;
            foreach ($properties as $property):
                $stem = "property[$index]";
            ?>
            <div class="<?php /* form-row */?>value">
                <?php /* <div class="col-1 my-1"> */ ?>
                    <select class="joiner chosen-select <?php /* form-control */ ?>mr-sm-2" name="<?= $escape($stem . '[joiner]') ?>">
                        <?= $queryOption('and', $property, 'joiner', $translate('AND')) ?>
                        <?= $queryOption('or', $property, 'joiner', $translate('OR')) ?>
                    </select>
                <?php /*
                </div>
                <div class="col my-1">
                */ ?>
                    <?= $propertySelect([
                        'name' => $stem . '[property]',
                        'options' => [
                            'empty_option' => '[Any Property]', // @translate
                            'apply_templates' => $searchApplyTemplates,
                            'used_terms' => $usedTerms,
                        ],
                        'attributes' => [
                            'value' => $property['property'] ?? null,
                            'aria-label' => $translate('Property'),
                            // 'class' => 'query-property chosen-select form-control',
                            'class' => 'query-property chosen-select',
                        ],
                    ]) ?>
                <?php /*
                </div>
                <div class="col my-1">
                    <select class="query-type chosen-select form-control" name="<?= $escape($stem . '[type]') ?>" aria-label="<?= $translate('Query type') ?>">
                */ ?>
                    <select class="query-type" name="<?= $escape($stem . '[type]') ?>" aria-label="<?= $translate('Query type') ?>">
                        <?= $queryOption('eq', $property, 'type', $translate('is exactly')) ?>
                        <?= $queryOption('neq', $property, 'type', $translate('is not exactly')) ?>
                        <?= $queryOption('in', $property, 'type', $translate('contains')) ?>
                        <?= $queryOption('nin', $property, 'type', $translate('does not contain')) ?>
                        <?= $queryOption('res', $property, 'type', $translate('is resource with ID')) ?>
                        <?= $queryOption('nres', $property, 'type', $translate('is not resource with ID')) ?>
                        <?= $queryOption('ex', $property, 'type', $translate('has any value')) ?>
                        <?= $queryOption('nex', $property, 'type', $translate('has no values')) ?>
                    </select>
                <?php /*
                </div>
                <div class="col my-1">
                */ ?>
                    <?= $queryText($property, $index) ?>
                <?php /*
                </div>
                */ ?>
                <div class="col-1 my-1">
                    <button type="button" class="remove-value btn btn-purplepink" title="<?= $translate('Remove value') ?>">
                        <span class="fa fa-minus" aria-hidden="false"></span>
                    </button>
                </div>
            </div>

            <?php ++$index; ?>
            <?php endforeach; ?>
            <?= $hyperlink($translate('Add new value'), '#', ['class' => 'add-value']) ?>
        </div>
    </div>
</div>
