/*<!--==========================
General
============================--> */

.bg-blacklight {
    background-color: #595959;
}
.bg-grey {
    background-color: #e5e5e5;
}
.bg-purplepink {
    background-color: #961E64;
}

.hidden {
    display: none;
}

body {
    color: #595959;
}
a {
    color: #961e64;
}

/*
<!--==========================
Buttons
============================--> */
.btn-purplepink {
    color: #fff;
    background-color: #961E64;
    border-color: #961E64;
}
.btn-purplepink:not(:disabled):not(.disabled).active:focus,
.btn-purplepink:not(:disabled):not(.disabled):active:focus,
.show > .btn-purplepink.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(150,30,100,.5);
}
.btn-purplepink:not(:disabled):not(.disabled).active,
.btn-purplepink:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #a6216f;
    border-color: #a6216f;
}
.btn-purplepink:hover {
    color: #fff;
    background-color: #a6216f;
    border-color: #a6216f;
}

.btn-outline-purplepink {
    color: #961E64;
    border-color: #961E64;
}
.btn-outline-purplepink:not(:disabled):not(.disabled).active:focus,
.btn-outline-purplepink:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-purplepink.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(150,30,100,.5);
}
.btn-outline-purplepink:not(:disabled):not(.disabled).active,
.btn-outline-purplepink:not(:disabled):not(.disabled):active,
.show > .btn-outline-purplepink.dropdown-toggle {
    color: #fff;
    background-color: #961E64;
    border-color: #961E64;
}
.btn-outline-purplepink.focus,
.btn-outline-purplepink:focus {
    box-shadow: 0 0 0 .2rem rgba(150,30,100,.5);
}
.btn-outline-purplepink:hover {
    color: #fff;
    background-color: #961E64;
    border-color: #961E64;
}

.pretty.p-default:not(.p-fill) input:checked ~ .state.p-purplepink-o label::after {
    background-color: #961E64 !important;
}
.pretty input:checked ~ .state.p-purplepink-o label::before,
.pretty.p-toggle .state.p-success-o label::before {
    border-color: #961E64;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.p-purplepink-o label::after {
    background-color: #961E64 !important;
}

.list-item-sets .pretty {
    margin-bottom: 1em;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #F4CCE4;
}

.custom-select {
    color: #495057;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    background-color: rgba(0, 0, 0, 0);
    background-color: #e5e5e5;
    border: 1px solid #ced4da;
}

.form-control:focus {
    border-color: #961E64;
    box-shadow: 0 0 0 .2rem rgba(150,30,100,.25);
}
.btn.focus,
.btn:focus,
.page-link:focus {
    box-shadow: 0 0 0 .2rem rgba(150,30,100,.25);
}
.custom-select:focus {
    border-color: #961E64;
    box-shadow: 0 0 0 .2rem rgba(150,30,100,.25);
}

.btn-purplepink:hover,
.btn-purplepink:active,
.btn-purplepink:focus {
    color: #fff;
}
.btn-outline-purplepink:hover,
.btn-outline-purplepink:active:hover,
.btn-outline-purplepink:focus:hover {
    color: #fff;
}
.btn-outline-purplepink:active,
.btn-outline-purplepink:focus {
    color: #961E64;
}
span.btn-outline-purplepink.disabled:hover {
    color: #961E64;
    background-color: inherit;
}

.required > .col-form-label::after,
.required > label::after {
    font-family: "FontAwesome";
    content: "\f069";
    font-size: 12px;
    position: absolute;
    right: 12px;
    color: #A91919;
    top: 6px;
}

/*
<!--==========================
Header
============================--> */
#header.top-pos{
    position: absolute;
}

#header.top-pos .logo img {
    max-height: 65px;
}

#header .logo p {
    font-style: italic;
    color: white;
    font-size: 20px;
}

.btn.btn-primary.active.bg-color {
    background-color: #961E64;
    border-color: #961E64;
    text-transform: none;
}

.icon {
    margin-left: 20px;
}

/*
<!--==========================
Intro
============================--> */

.tous {
    border-right: solid 3px #000;
}

.tous .dropdown-menu a {
    cursor: pointer;
}

.btn-search-big {
    background-color: #961E64;
    border-color: #961E64;
    border-radius: 0px;
    width: 86px;
    height: 86px;
}

.btn-tous {
    background-color: #fff;
    font-size: 24px;
    padding-top: 32px;
    width: 200px;
}
#intro .tous #dropdownMenuLink {
    padding-top: 24px;
}

.show>.dropdown-menu{
    border-color: #595959;
    width: 100%;
    border-radius: 0px;
    padding:0px;
    margin:0px;
    border: #595959;
}

.show>.btn-tous:hover{
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

#intro h6 {
    font-family: sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
    color: #e5e5e5;
    font-size: 32px;
}

#intro .form-control {
    height: 86px;
    font-size: 24px;
    border-radius: 0px;
    border:none;
}

#intro .btn-tous::after{
    content: "\f107";
    font-family: fontawesome;
    border-top: 0px;
    font-size: 40px;
    vertical-align: -7px;
    border-bottom: 0px;
    margin-left: 0.255em;
    border-right: 0.3em;
    line-height: 1;
}

#intro .btn-tous::selection{
    color: #595959;
}

.btn-research {
    background-color: #595959;
    border-color: #595959;
    border-radius: 0px;
    text-align: left;
    width: 100%;
    color: #e5e5e5;
    height: 36px;
    position: relative;
}

.btn-research i{
    position: absolute;
    font-size: 40px;
    top: -3px;
    margin-left: 166px;
}

.btn-research span {
    margin-top: -10px;
}

.btn-research::after {
    content: "";
}

.fa-search {
    font-size: 32px;
    font-weight: 1px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #e5e5e5;
    border-color: #595959;
    background-color: #595959;
}

.pos {
    padding: 60px;
}

#showdata {
    background-color: #fff;
    z-index: 1;
    position: absolute;
    margin-top: 36px;
    width: 100%;
}

#showdata .but-pos {
    padding-top: 40px;
    padding-bottom: inherit;
}

#showdata .but-pos .no-border {
    border: none;
}


/*
<!--==========================
portfolio
============================--> */

#portfolio #portfolio-filters li:hover,
#portfolio #portfolio-filters li.filter-active {
    color: #595959;
}

#portfolio .portfolio-container {
    min-height: 280px;
}

.sub-nav {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 50px;
    background: #f8f9fa69;
}

.sub-nav .nav-item {
    text-align: center;
    line-height: 40px;
    background-color: #e5e5e5;
    border-radius: 5px;
}

.sub-nav .nav-item img {
    width: 18px;
}

.sub-nav .nav-item a{
    padding: 0;
    cursor: pointer;
    color: #595959;
}

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info p {
    color: #fff;
    padding: 10px;
    text-align: left;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info {
    display: block;
    top: unset;
}

.image-download img {
    width: 24px;
    margin-left: -30px;
    margin-top: 6px;
}

#portfolio .portfolio-wrap .resource-link .img-fluid {
    width: 100%;
}

#portfolio .portfolio-item .portfolio-wrap:hover {
    background: none;
}

#portfolio .portfolio-item .portfolio-wrap:hover img {
    opacity: 1;
}

#portfolio #portfolio-filters li{
    border-bottom: solid 1px #c5c5c5;
}

#portfolio #portfolio-filters li:hover,
#portfolio #portfolio-filters li.filter-active{
    border-bottom: solid 2px #961E64;
}

#portfolio .portfolio-info .no-padding {
    padding:0;
}

#portfolio .filter-white {
    filter: invert(100%) sepia(82%) saturate(0%) hue-rotate(302deg) brightness(105%) contrast(101%);
}


#portfolio .portfolio-info .left-margin{
    margin-left: -40px;
}

#continue button {
    padding: 10px 40px;
    border: 2px solid #595959;
}

/* Footer */

#footer .footer-top .footer-text {
    color: #fff;
}

@media (max-width: 574px) {
    #footer {
        text-align: center;
    }

    #footer .footer-top .social-links a {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #intro .tous{
        position: relative;
        display: flex;
        width: 100%;
        align-items: stretch;
        flex-wrap: wrap;
        border-right: none;
        border-bottom: solid 2px #000;
    }

    #intro .tous a {
        width: 100%;
    }

    #intro .form-control {
        margin:0;
    }

}

@media (min-width: 991px) {
    #intro .container {
        width: 910px;
    }
}

@media (max-width: 800px) {
    #intro .sub-nav {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media (max-width: 640px) {
    #intro .sub-nav {
        display: none !important;
    }
}
@media (max-height: 800px) {
    #intro .sub-nav {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media (max-height: 640px) {
    #header {
        padding: 4px 0;
    }
    #intro .intro-info {
        padding-top: 0;
    }
}

#login-form {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}

.btn-color {
    background-color: #961E64;
    border: 0;
}

/* dialog */
#reportrange {
    text-align: center;
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border:1px solid #ccc;
    width:100%
}

.radio {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    margin: 15px;
}

.radio .label {
    position: relative;
    display: block;
    float: left;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #c8ccd4;
    border-radius: 100%;
    -webkit-tap-highlight-color: transparent;
}

.radio .label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background: #961E64;
    transform: scale(0);
    transition: all 0.2s ease;
    opacity: 0.08;
    pointer-events: none;
}

.radio:hover .label:after {
    transform: scale(3.6);
}

input[type="radio"]:checked + .label {
    border-color: #595959;
}

input[type="radio"]:checked + .label:after {
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
    opacity: 1;
}

.list-values {
    width: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.list-item-sets {
    margin-left: 50px;
}
/* finish dialog */

/* Pagination */

.page-item .page-link {
    color: #961E64;
    background-color: #e5e5e5;
    border: 1px solid #cecece;
}
.page-item.active .page-link {
    color: #fff;
    background-color: #961E64;
    border-color: #961E64;
}
.page-item:hover .page-link {
    color: #fff;
    background-color: #a6216f;
    border-color: #a6216f;
}
.page-item.disabled .page-link,
.page-item.disabled:hover .page-link {
    color: #595959;
    background-color: #e5e5e5;
    border: 1px solid #cecece;
}
.page-link .fa {
    line-height: 1.25;
}

/* Item browse */

.resource-list li:not(:last-child).media.border-bottom {
    border-bottom: 1px solid #cecece !important;
}
.resource-list li:hover {
    background-color: #eaeaea;
}

.media-thumbnail {
    width: 200px; /* Max size of default medium thumbnail in Omeka. */
    height: auto;
}

.media-body .badge {
    font-weight: 600;
}

.search-filters .filter-label.badge {
    font-size: 100%;
}

/* Item show */

#gallery .resource > div,
.media-list .lSSlideOuter .lSPager.lSGallery {
    margin: 0 auto;
    margin: auto;
}

.resource.show .metadata h1 {
    text-align: center;
}

.metadata .property {
    text-align: right;
}
.properties .field-term {
    font-size: 12px;
    font-weight: normal;
    color: #6f6f6f;
    display: block;
}

.properties .language {
    opacity: .5;
    font-weight: 600;
}
.metadata .private {
    opacity: .5;
}

#other-media img {
    width: 3em;
    height: 3em;
    margin-right: 12px;
}

/* Search */

.search-facet-item a::before {
    font-family: 'FontAwesome';
}

/* Fixes */

#user-bar .show {
    display: inline-block !important;
}
#user-bar .media {
    display: inline-block !important;
}
body.media.resource {
    display: initial !important;
}

.form-group .form-control[type=checkbox] {
    width: auto;
}

.pointer-events-none {
    pointer-events: none;
}

/* Fix the */
.autocomplete-suggestions {
    background-color: white !important;
    z-index: 9999;
}
.autocomplete-suggestion {
    background-color: white !important;
    z-index: 10000;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

@media (max-width: 1199px) {
    #intro .intro-info {
        padding-top: 0px;
    }
    #intro .tous {
        height: 60px;
        display: inline;
    }
    #intro .tous #dropdownMenuLink {
        height: 60px;
        padding-top: 12px;
    }
    #intro .form-control {
        height: 60px;
    }
    .btn-search-big {
        width: 60px;
        height: 60px;
    }
    #categories {
        padding: 20px 50px 5px;
    }
}

@media (max-width: 767px) {
    #intro .tous {
        width: 150px;
    }
    .btn-tous {
        width: 148px;
    }
    #intro .btn-tous::after {
        width: 148px;
        margin-left: -0.745em;
        margin-top: 0;
    }
}
