/** =================== Open Sans =================== **/

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/OpenSans/OpenSans-Italic.eot');
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
        url('../fonts/OpenSans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-Italic.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/OpenSans/OpenSans-Regular.eot');
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/OpenSans/OpenSans-BoldItalic.eot');
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
        url('../fonts/OpenSans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/OpenSans/OpenSans-SemiBold.eot');
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url('../fonts/OpenSans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-SemiBold.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: italic;
    src: url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.eot');
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
        url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/OpenSans/OpenSans-LightItalic.eot');
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
        url('../fonts/OpenSans/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans/OpenSans-LightItalic.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-LightItalic.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/OpenSans/OpenSans-Bold.eot');
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: italic;
    src: url('../fonts/OpenSans/OpenSans-SemiBoldItalic.eot');
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
        url('../fonts/OpenSans/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans/OpenSans-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-SemiBoldItalic.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/OpenSans/OpenSans-ExtraBold.eot');
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
        url('../fonts/OpenSans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-ExtraBold.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/OpenSans/OpenSans-Light.eot');
    src: local('Open Sans Light'), local('OpenSans-Light'),
        url('../fonts/OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-Light.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
}

/** =================== MONTSERRAT =================== **/

/** Montserrat Thin **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-Thin.eot');
    src: local('Montserrat-Thin'),
        url('../fonts/Montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Thin.woff') format('woff');
}

/** Montserrat Thin-Italic **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 100;
    font-style: italic;
    src: url('../fonts/Montserrat/Montserrat-ThinItalic.eot');
    src: local('Montserrat-ThinItalic'),
        url('../fonts/Montserrat/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-ThinItalic.woff') format('woff');
}

/** Montserrat ExtraLight **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.eot');
    src: local('Montserrat-ExtraLight'),
        url('../fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-ExtraLight.woff') format('woff');
}

/** Montserrat ExtraLight-Italic **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    font-style: italic;
    src: url('../fonts/Montserrat/Montserrat-ExtraLightItalic.eot');
    src: local('Montserrat-ExtraLightItalic'),
        url('../fonts/Montserrat/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-ExtraLightItalic.woff') format('woff');
}

/** Montserrat Light **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-Light.eot');
    src: local('Montserrat-Light'),
        url('../fonts/Montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Light.woff') format('woff');
}

/** Montserrat Light-Italic **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/Montserrat/Montserrat-LightItalic.eot');
    src: local('Montserrat-LightItalic'),
        url('../fonts/Montserrat/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-LightItalic.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-LightItalic.woff') format('woff');
}

/** Montserrat Regular **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-Regular.eot');
    src: local('Montserrat-Regular'),
        url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
}

/** Montserrat Regular-Italic **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/Montserrat/Montserrat-Italic.eot');
    src: local('Montserrat-Italic'),
        url('../fonts/Montserrat/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Italic.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Italic.woff') format('woff');
}

/** Montserrat Medium **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-Medium.eot');
    src: local('Montserrat-Medium'),
        url('../fonts/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff');
}

/** Montserrat Medium-Italic **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: italic;
    src: url('../fonts/Montserrat/Montserrat-MediumItalic.eot');
    src: local('Montserrat-MediumItalic'),
        url('../fonts/Montserrat/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-MediumItalic.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-MediumItalic.woff') format('woff');
}

/** Montserrat SemiBold **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-SemiBold.eot');
    src: local('Montserrat-SemiBold'),
        url('../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
}

/** Montserrat SemiBold-Italic **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: italic;
    src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.eot');
    src: local('Montserrat-SemiBoldItalic'),
        url('../fonts/Montserrat/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-SemiBoldItalic.woff') format('woff');
}

/** Montserrat Bold **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-Bold.eot');
    src: local('Montserrat-Bold'),
        url('../fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff');
}

/** Montserrat Bold-Italic **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: italic;
    src: url('../fonts/Montserrat/Montserrat-BoldItalic.eot');
    src: local('Montserrat-BoldItalic'),
        url('../fonts/Montserrat/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-BoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-BoldItalic.woff') format('woff');
}

/** Montserrat ExtraBold **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.eot');
    src: local('Montserrat-ExtraBold'),
        url('../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff');
}

/** Montserrat ExtraBold-Italic **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    font-style: italic;
    src: url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot');
    src: local('Montserrat-ExtraBoldItalic'),
        url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff') format('woff');
}

/** Montserrat Black **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-Black.eot');
    src: local('Montserrat-Black'),
        url('../fonts/Montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Black.woff') format('woff');
}

/** Montserrat Black-Italic **/
@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: italic;
    src: url('../fonts/Montserrat/Montserrat-BlackItalic.eot');
    src: local('Montserrat-BlackItalic'),
        url('../fonts/Montserrat/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-BlackItalic.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-BlackItalic.woff') format('woff');
}
