<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Collecting\Api\Representation\CollectingInputRepresentation $cInput
 */

$prompt = $cInput->prompt();
$displayText = $cInput->displayText();
if (!in_array($prompt->inputType(), ['item', 'value_suggest'])) {
    $displayText = $this->escapeHtml($displayText);
}
?>

<div>
    <h4><?= $this->escapeHtml($cInput->prompt()->displayText()) ?></h4>
    <div><?= nl2br($displayText) ?></div>
</div>
