<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Collecting\Api\Representation\CollectingItemRepresentation $cItem
 */

$translate = $this->plugin('translate');

$site = $cItem->form()->site();

$userName = $cItem->userName();
if (null === $userName || $cItem->anon() || 'private' === $cItem->form()->anonType()) {
    // Must set anonymous user, even when the current user has permission, so
    // the citation remains safe to cut-and-paste.
    $userName = $translate('[anonymous user]');
}
?>

<div class="container-fluid">
    <div class="row mt-2">
        <div class="col">
            <?= sprintf(
                $translate('This item was submitted on %s by %s using the form “%s” on the site “%s”: %s'),
                $this->i18n()->dateFormat($cItem->item()->created(), 'long'),
                $userName,
                $cItem->form()->label(),
                $site->title(),
                $site->siteUrl(null, true)
            ) ?>
        </div>
    </div>
</div>
