<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Laminas\Form\Element $element
 * @var string $label
 * @var array $labelAttributes
 * @var string $labelPosition
 * @var bool $renderErrors
 */

$translate = $this->plugin('translate');

$required = $element->getAttribute('required');
$showRequired = $element->getOption('show_required');
$isRequired = null === $showRequired ? $required : $showRequired;
$class = $isRequired ? 'field required' : 'field';
$escapeInfo = (false !== $element->getOption('escape_info'));

$type = $element->getAttribute('type');
?>

<?php if (is_null($label) || $type === 'hidden'): ?>
<?= $this->formElement($element) ?>
<?php else: ?>
<div class="form-group row <?= $class ?>">
    <?php
    $labelAttributes = $element->getLabelAttributes();
    $labelAttributes['class'] = (empty($labelAttributes['class']) ? '' : $labelAttributes['class'] . ' ') . 'col-sm-2 col-form-label';
    $element->setLabelAttributes($labelAttributes);
    ?>
    <?= $this->formLabel($element) ?>
    <?php /* ?>
    <?php if ($info = $element->getOption('info')): ?>
    <a href="#" class="expand" aria-label=" <?php echo $this->escapeHtml($translate('Expand')); ?>"></a>
    <div class="collapsible">
        <div class="field-description"><?php echo $escapeInfo ? $this->escapeHtml($translate($info)) : $translate($info); ?></div>
        <?php if ($documentation = $element->getOption('documentation')): ?>
        <a href="<?php echo $documentation; ?>" class="docs-link"><?php echo $translate('Learn more'); ?></a>
        <?php endif; ?>
    </div>
    <?php endif; ?>
    <?php */ ?>
    <div class="col-sm-10">
    <?php
    $typeClasses = [
        'button' => '',
        'checkbox' => '',
        'color' => '',
        'date' => '',
        'datetime' => '', // @deprecated
        'datetime-local' => '',
        'email' => '',
        'file' => 'custom-file-input',
        'hidden' => '',
        'image' => '',
        'month' => '',
        'number' => '',
        'password' => '',
        'radio' => '',
        'range' => '',
        'reset' => '',
        'search' => '',
        'submit' => '',
        'tel' => '',
        'text' => 'form-control',
        'time' => '',
        'url' => '',
        'week' => '',
        // Other.
        'textarea' => 'form-control',
        'select' => 'form-control',
    ];
    switch ($type):
    case 'file':
        $typeClass = empty($typeClasses[$type]) ? 'form-control' : $typeClasses[$type];
        $labelAttributes['class'] = 'custom-file-label';
        $element
            ->setLabel($element->hasAttribute('multiple') ? $translate('Choose files…') : $translate('Choose file…'))
            ->setLabelAttributes($labelAttributes)
            ->setAttribute('class', ($element->hasAttribute('class') ? $element->getAttribute('class') . ' ' : '') . $typeClass);
        ?>
        <div class="custom-file">
            <?= $this->formElement($element) ?>
            <?= $this->formLabel($element) ?>
            <?= $this->formElementErrors($element, ['class' => 'messages']) ?>
        </div>
        <?php
        break;
    case 'select':
        // Remove the useless #id of the item in the select.
        if ($element instanceof \Collecting\Form\Element\PromptItem) {
            $valueOptions = $element->getValueOptions();
            $valueOptions = array_map(function ($v) { return preg_replace('~^#\d*\s*:\s*~', '', $v); }, $valueOptions);
            $element->setValueOptions($valueOptions);
        }
        // no break.
    default:
        $typeClass = empty($typeClasses[$type]) ? 'form-control' : $typeClasses[$type];
        $element->setAttribute('class', ($element->hasAttribute('class') ? $element->getAttribute('class') . ' ' : '') . $typeClass);
        ?>
        <?php echo $this->formElement($element); ?>
        <?php echo $this->formElementErrors($element, ['class' => 'messages']); ?>
    <?php endswitch; ?>
    </div>
</div>
<?php endif; ?>
