<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$url = $plugins->get('url');
$formRow = $plugins->get('formRow');
$formInput = $plugins->get('formInput');
// $formHelper = $plugins->get('form');

$hasGuest = $plugins->has('guestWidget');
$action = $hasGuest
    ? $url('site/guest/anonymous', ['action' => 'login'], true)
    : $url('login');

/** @var \Omeka\Form\LoginForm $form */
$form = $site->getServiceLocator()->get('FormElementManager')->get('Omeka\Form\LoginForm');
?>

<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3><?= 'Connexion' // $translate('Login') ?></h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <?php /*
                <?= $this->messages(); ?>
                <?php if (!empty($message)): ?>
                <?= $message ?>
                <?php endif; ?>
                */ ?>
                <?php // $formHelper->openTag($form); ?>
                <form class="form" role="form" id="formLogin" action="<?= $action ?>" method="POST">
                    <div class="form-group">
                        <?php if ($hasGuest && $this->setting('guest_open') !== 'close'): ?>
                        <a href="<?= $url('site/guest/anonymous', ['action' => 'register'], true) ?>" class="float-right"><?= $translate('New user?') ?></a>
                        <?php endif; ?>
                        <label for="email"><?= $translate('Email') ?></label>
                        <?php
                        // <input type="email" class="form-control form-control-lg" name="email" id="email" required="required"/>
                        $element = $form->get('email')
                            ->setAttribute('type', 'email')
                            ->setAttribute('class', 'form-control form-control-lg');
                        if (!$element->getAttribute('disabled')):
                            $element->setAttribute('required', 'required');
                        endif;
                        echo $formInput($element);
                        ?>
                        <div class="invalid-feedback"><?= $translate('Oops, you missed this one.') ?></div>
                    </div>
                    <?php if ($form->has('password')): ?>
                    <div class="form-group">
                        <label for="password"><?= $translate('Password') ?></label>
                        <?php
                            // <input type="password" class="form-control form-control-lg" name="password" id="password" required="required" autocomplete="new-password"/>
                            $element = $form->get('password')
                                ->setAttribute('requloginired', 'required')
                                ->setAttribute('autocomplete', 'new-password')
                                ->setAttribute('class', 'form-control form-control-lg');
                            echo $formInput($element);
                        ?>
                        <div class="invalid-feedback"><?= $translate('Enter your password too!') ?></div>
                        <?= $this->hyperlink(
                            $translate('forgot password?'),
                            $hasGuest ? $this->url('site/guest/anonymous', ['action' => 'forgot-password'], true) : $this->url('forgot-password'),
                            ['class' => 'float-right']
                        ) ?>
                    </div>
                    <?php endif; ?>
                    <?php /*
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="rememberMe">
                        <label class="custom-control-label" for="rememberMe"><?= $translate('Remember me on this computer') ?></label>
                    </div>
                    */ ?>
                    <div class="form-group py-4">
                        <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" aria-hidden="true"><?= $translate('Cancel') ?></button>
                        <?php
                        /* <button type="submit" name="submit" class="btn btn-success btn-lg float-right btn-color" name="submit" id="btnLogin"><?= $translate('Login') ?></button> */
                        if ($form->has('submit')):
                            $element = $form->get('submit')
                                ->setValue($translate('Validate'));
                        elseif ($form->has('next')):
                            $element = $form->get('next');
                        elseif ($form->has('last')):
                            $element = $form->get('last');
                        else:
                            $element = null;
                        endif;
                        if ($element):
                            $element
                                ->setAttribute('type', 'submit')
                                ->setAttribute('class', 'btn btn-success btn-lg float-right btn-color');
                            echo $formInput($element);
                        endif;
                        ?>
                    </div>
                    <?php
                    if ($form->has('csrf')):
                        echo $formRow($form->get('csrf'));
                    elseif ($form->has('loginform_csrf')):
                        echo $formRow($form->get('loginform_csrf'));
                    endif;
                    ?>
                </form>
            </div>
        </div>
    </div>
</div>
