<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var array $query
 * @var int $totalCount
 * @var int $perPage
 * @var int $offset
 * @var int $currentPage
 * @var int $previousPage
 * @var int $nextPage
 * @var int $pageCount
 * @var string $firstPageUrl
 * @var string $previousPageUrl
 * @var string $nextPageUrl
 * @var string $lastPageUrl
 * @var string $pagelessUrl
 */

// Number of page numbers before and after the current page.
$intermediate = 4;

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$url = $plugins->get('url');
?>

<nav class="pagination justify-content-center" role="navigation" aria-label="<?= $translate('Search results pages') ?>">
    <?php if ($totalCount && $pageCount < 2): ?>
    <?php // Display nothing, but keep the nav for css. ?>
    <?php elseif ($totalCount): ?>
    <?php
    // For simplicity, prepare the list of inttermediate page numbers.
    $pages = [$currentPage];
    $p = $currentPage - 1;
    $count = 0;
    while ($p >= 1 && $count < $intermediate):
        array_unshift($pages, $p);
        ++$count;
        --$p;
    endwhile;

    $p = $currentPage + 1;
    $count = 0;
    while ($p <= $pageCount && $count < $intermediate):
        $pages[] = $p;
        ++$count;
        ++$p;
    endwhile;
    ?>
    <ul class="pagination">
        <?php if ($currentPage > 1): ?>
        <li class="page-item">
            <a class="page-link" href="<?= $escapeAttr($firstPageUrl) ?>" aria-label="<?= $translate('First') ?>">
                <?php /* <span aria-hidden="true">«</span> */ ?>
                <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                <span class="sr-only"><?= $translate('First') ?></span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="<?= $escapeAttr($previousPageUrl) ?>" aria-label="<?= $translate('Previous') ?>">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <?php /* <span aria-hidden="true">‹</span>*/ ?>
                <span class="sr-only"><?= $translate('Previous') ?></span>
            </a>
        </li>
        <?php else: ?>
        <li class="page-item disabled">
            <span class="page-link disabled">
                <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                <?php /* <span aria-hidden="true">«</span> */ ?>
                <span class="sr-only"><?= $translate('First') ?></span>
            </span>
        </li>
        <li class="page-item disabled">
            <span class="page-link">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <?php /* <span aria-hidden="true">‹</span> */ ?>
                <span class="sr-only"><?= $translate('Previous') ?></span>
            </span>
        </li>
        <?php endif; ?>

        <?php foreach ($pages as $page): ?>
            <?php $q = array_merge($query, ['page' => $page]); ?>
            <?php if ($page == $currentPage): ?>
        <li class="page-item active" aria-current="page">
            <span class="page-link"><?= $page ?><span class="sr-only">(<?= $translate('Current') ?>)</span></span>
        </li>
            <?php else: ?>
        <li class="page-item">
            <a class="page-link" href="<?= $escapeAttr($url(null, [], ['query' => $q], true)) ?>"><?= $page ?></a>
        </li>
            <?php endif; ?>
        <?php endforeach; ?>

        <?php if ($currentPage < $pageCount): ?>
        <li class="page-item">
            <a class="page-link" href="<?= $escapeAttr($nextPageUrl) ?>" aria-label="<?= $translate('Next') ?>">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <?php /* <span aria-hidden="true">›</span>*/ ?>
                <span class="sr-only"><?= $translate('Next') ?></span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="<?= $escapeAttr($lastPageUrl) ?>" aria-label="<?= $translate('Last') ?>">
                <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                <?php /* <span aria-hidden="true">»</span> */ ?>
                <span class="sr-only"><?= $translate('Last') ?></span>
            </a>
        </li>
        <?php else: ?>
        <li class="page-item disabled">
            <span class="page-link">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <?php /* <span aria-hidden="true">›</span>*/ ?>
                <span class="sr-only"><?= $translate('Next') ?></span>
            </span>
        </li>
        <li class="page-item disabled">
            <span class="page-link">
                <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                <?php /* <span aria-hidden="true">»</span>*/ ?>
                <span class="sr-only"><?= $translate('Last') ?></span>
            </span>
        </li>
        <?php endif; ?>

        <?php /*
        <li class="page-item disabled">
            <span class="page-link">
                <span class="row-count"><?= sprintf($translate('Total: %s'), $totalCount) ?></span>
            </span>
        </li>
        */ ?>
    </ul>
    <?php endif; ?>
</nav>
