<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var array $values
 * @var array $templateProperties If any.
 */

$translate = $this->plugin('translate');
$escape = $this->plugin('escapeHtml');
$labelInfo = $this->setting('property_label_information');
?>

<dl class="row properties">
<?php
foreach ($values as $term => $propertyData):
    $label = $propertyData['alternate_label'] ?: $translate($propertyData['property']->label());
    $info = $labelInfo === 'term'
        ? $propertyData['property']->term()
        : ($labelInfo === 'vocab' ? $propertyData['property']->vocabulary()->label() : '');
    ?>
    <dt class="property text-right col-sm-3">
        <?= $escape($label) ?>
        <?php if ($info): ?>
        <span class="field-term">(<?= $escape($info) ?>)</span>
        <?php endif; ?>
    </dt>
    <?php
    // Display subject inline.
    // TODO Use only css to display subject inline.
    if ($term === 'dcterms:subject'):
    ?>
    <dd class="value col-sm-9">
    <?php
        $isFirst = true;
        foreach ($propertyData['values'] as $value):
            $valueType = $value->type();
            $class = ['value'];
            if ('resource' == $valueType || strpos($valueType, 'resource') !== false):
                $class[] = 'resource';
                $class[] = $escape($value->valueResource()->resourceName());
            elseif ($valueType === 'uri'):
                $class[] = 'uri';
            endif;
            $isPrivate = !$value->isPublic();
            if ($isPrivate):
                $class[] = 'private';
            endif;
            $lang = $value->lang();
            if ($isFirst):
                $isFirst = false;
            else:
                echo ', ';
            endif;
            ?>
        <?php if ($lang): ?>
        <span class="language badge badge-pill badge-info"><?= $lang ?></span>
        <?php endif; ?>
        <?php if ($isPrivate): ?>
        <span class="private fa fa-eye-slash" aria-hidden="false" title="<?= $translate('private') ?>"></span>
        <?php endif; ?>
        <?= $value->asHtml() ?>
    <?php endforeach; ?>
    </dd>

    <?php
    else:

        $isFirst = true;
        foreach ($propertyData['values'] as $value):
            $valueType = $value->type();
            $class = ['value'];
            if ('resource' == $valueType || strpos($valueType, 'resource') !== false):
                $class[] = 'resource';
                $class[] = $escape($value->valueResource()->resourceName());
            elseif ($valueType === 'uri'):
                $class[] = 'uri';
            endif;
            $isPrivate = !$value->isPublic();
            if ($isPrivate):
                $class[] = 'private';
            endif;
            $lang = $value->lang();
            if ($isFirst):
                $isFirst = false;
            else:
                $class[] = ' offset-sm-3';
            endif;
            ?>
    <dd class="<?= implode(' ', $class) ?> col-sm-9" lang="<?= $escape($lang) ?>">
        <?php if ($lang): ?>
        <span class="language badge badge-pill badge-info"><?= $lang ?></span>
        <?php endif; ?>
        <?php if ($isPrivate): ?>
        <span class="private fa fa-eye-slash" aria-hidden="false" title="<?= $translate('private') ?>"></span>
        <?php endif; ?>
        <?= $value->asHtml() ?>
    </dd>
    <?php endforeach;
    endif;
endforeach;
?>
</dl>
