<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var array $filters
 */

$escape = $this->plugin('escapeHtml');
?>

<?php if (count($filters) > 0): ?>
<div class="search-filters">
    <?php foreach ($filters as $filterLabel => $filterValues): ?>
    <div class="filter mt-2">
        <span class="filter-label font-weight-normal badge badge-light"><?= $escape($filterLabel) ?></span>
        <?php foreach ($filterValues as $filterValue): ?>
        <span class="filter-value"><?= $escape($filterValue) ?></span>
        <?php endforeach; ?>
    </div>
    <?php endforeach; ?>
</div>
<?php endif; ?>
