<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$url = $plugins->get('url');
$themeSetting = $plugins->get('themeSetting');

$stringUrl = $plugins->get('StringUrl');

$searchValue = $this->params()->fromQuery('search', '');

$pageSearchResults = $themeSetting('link_search_results');
$action = $pageSearchResults ? $stringUrl($pageSearchResults) : $url('site/resource', ['controller' => 'item','action' => 'browse'], true);
?>

<form class="form-inline my-2 my-lg-0" action="<?= $action ?>">
    <input class="form-control mr-sm-2" type="search" name="search" value="<?= $escapeAttr($searchValue) ?>" placeholder="<?= $translate('Search') ?>" aria-label="<?= $translate('Search') ?>"/>
    <button class="btn btn-outline-purplelink my-2 my-sm-0 bg-grey" type="submit"><?= $translate('Search') ?></button>
</form>
