<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var string $sortByQuery
 * @var string $sortOrderQuery
 * @var array $sortBy
 */

$translate = $this->plugin('translate');
$escape = $this->plugin('escapeHtml');
?>

<form class="sorting form-inline" action="">
    <?= $this->queryToHiddenInputs(['sort_by', 'sort_order']) ?>
    <label class="my-1 mr-2" for="sort_by"><?= $translate('Sort by') ?></label>
    <select class="custom-select my-1 mr-sm-2" id="sort_by" name="sort_by" aria-label="<?= $translate('Sort by') ?>">
    <?php foreach ($sortBy as $sortByHeading): ?>
        <?php $selected = ($sortByQuery === $sortByHeading['value']) ? 'selected="selected"' : ''; ?>
        <option value="<?= $escape($sortByHeading['value']) ?>" <?= $selected; ?>><?= $sortByHeading['label'] ?></option>
    <?php endforeach; ?>
    </select>
    <select class="custom-select my-1 mr-sm-2" name="sort_order" aria-label="<?= $translate('Sort order') ?>">
        <option value="asc" <?= ($sortOrderQuery === 'asc') ? 'selected' : '' ?>><?= $translate('Ascending') ?></option>
        <option value="desc" <?= ($sortOrderQuery === 'desc') ? 'selected' : '' ?>><?= $translate('Descending') ?></option>
    </select>
    <button type="submit" class="btn btn-outline-purplepink my-1"><?= $translate('Sort') ?></button>
</form>
