<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Collecting\Api\Representation\CollectingItemRepresentation $cItem
 */

$translate = $this->plugin('translate');
?>

<div class="container-fluid">
    <div class="row mt-2">
        <div class="col">
            <h3><?= sprintf($translate('Collected Item: “%s”'), $cItem->item()->displayTitle()) ?></h3>
            <?= $cItem->displayInputs(); ?>
            <?= $cItem->item()->link(
                $translate('Click here to view the corresponding item.')
            ) ?>
        </div>
    </div>
</div>
