<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Collecting\Api\Representation\CollectingFormRepresentation $cForm
 * @var \Omeka\Api\Representation\SitePageRepresentation $page
 */

$this->collectingPrepareForm();

$form = $cForm->getForm();
if ($page):
    $redirect = new \Laminas\Form\Element\Hidden('page');
    $redirect->setValue($page->id());
    $form->add($redirect);
endif;
?>

<div class="container-fluid">
    <div class="row mt-2">
        <div class="col">
            <?= $this->messages() ?>
            <h2><?= $this->escapeHtml($cForm->label()) ?></h2>
            <?= $this->form($form) ?>
        </div>
    </div>
</div>
