<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Collecting\Api\Representation\CollectingFormRepresentation $cForm
 */

$translate = $this->plugin('translate');
?>

<div class="container-fluid">
    <div class="row mt-2">
        <div class="col">
            <?php if ($cForm->successText()): ?>
            <?= $cForm->successText() ?>
            <?php else: ?>
            <p><?= $translate('Form successfully submitted!') ?></p>
            <?php endif; ?>
        </div>
    </div>
</div>
