<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Exception $exception
 * @var string $message
 * @var string $reason
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$escape = $plugins->get('escapeHtml');
$pageTitle = $plugins->get('pageTitle');

$this->htmlElement('body')->appendAttribute('class', 'error not-found');
?>

<div class="container-fluid">

    <div class="row mt-2">
        <div class="col">
            <?= $pageTitle($translate('Page not found')) ?>
        </div>
    </div>

    <?php if (isset($message)): ?>
    <div class="row mt-2">
        <div class="col">
            <p><?= $message ?></p>
        </div>
    </div>
    <?php endif; ?>

    <div class="row mt-2">
        <div class="col">
            <?php if (ini_get('display_errors')): ?>
                <?php if (isset($reason)): ?>
            <p><?= sprintf($translate('Reason: %s'), "<tt>$reason</tt>") ?></p>
                <?php endif; ?>

                <?php if (isset($exception)): ?>
            <p>
                <strong><?= $escape(get_class($exception)) ?></strong><br/>
                <?= $escape($exception->getMessage()) ?>
            </p>
            <p><?= $translate('Details:') ?></p>
            <pre><?= $escape($exception) ?></pre>

                <?php else: ?>

            <p>
                <strong><?= $translate('Unresolved exception') ?></strong><br/>
            </p>
            <p><?= $translate('Details:') ?></p>
            <pre><?php
                $exception = new \Exception;
                print_r($exception->getTraceAsString());
            ?></pre>

                <?php endif; ?>
            <?php endif; ?>
        </div>
    </div>

</div>
