<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Api\Representation\itemRepresentation[] $itemSets
 * @var \Omeka\Api\Representation\itemRepresentation[] $resources
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$hyperlink = $plugins->get('hyperlink');
$siteSetting = $plugins->get('siteSetting');
$assetUrl = $plugins->get('assetUrl');
$thumbnail = $plugins->get('thumbnail');

$this->htmlElement('body')->appendAttribute('class', 'item-set resource browse');

$headingTerm = $siteSetting('browse_heading_property_term', 'dcterms:title');
$bodyTerm = $siteSetting('browse_body_property_term', 'dcterms:description');
?>

<div class="container-fluid">

    <div class="row mt-2">
        <div class="col">
            <?= $this->pageTitle($translate('Item sets'), 2) ?>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <?= $this->searchFilters() ?>
        </div>
    </div>

    <div class="browse-controls">
        <div class="row mt-2">
            <div class="col text-center pagination-top">
                <?= $pagination = $this->pagination() ?>
            </div>
        </div>
        <div class="row mt-2 mb-5">
            <div class="col-12 offset-md-9 col-md-3 text-right">
                <?= $hyperlink($translate('Advanced search'), $this->url(null, ['action' => 'search'], true), ['class' => 'advanced-search']) ?>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <?php $this->trigger('view.browse.before'); ?>
        </div>
    </div>

    <?php if (count($itemSets)): ?>

    <div class="row mt-2">
        <div class="col">
            <ul id="resource-list" class="resource-list list-unstyled">
                <?php
                $noMedia = '<img class="img-thumbnail img-fluid rounded shadow mx-auto d-block" alt="' . $translate('No media') . '" src="' . $assetUrl('img/no_image.png') . '"/>';
                foreach ($itemSets as $itemSet):
                    $heading = $itemSet->value($headingTerm, ['default' => $translate('[Untitled]')]);
                    $body = $itemSet->value($bodyTerm);
                    $itemSetThumbnail = $thumbnail($itemSet, 'medium', ['class' => 'img-thumbnail img-fluid rounded shadow mx-auto d-block', 'alt' => $heading]);
                ?>
                <li class="item-set resource media pb-2 mb-2 border-bottom">
                    <div class="media-thumbnail mr-3">
                        <?= $itemSet->linkRaw($itemSetThumbnail ?: $noMedia) ?>
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0 mb-1"><?= $itemSet->link($heading) ?></h5>
                        <?php if ($body): ?>
                        <div class="description"><?= $body ?></div>
                        <?php endif; ?>
                        <?php if ($values = $itemSet->value('dcterms:subject', ['all' => true])): ?>
                            <?php $baseBrowse = $this->url('site/resource', [], ['query' => ['property' => [['property' => 'dcterms:subject', 'type' => 'eq', 'text' => '__TEXT__']]]], true); ?>
                            <?php foreach ($values as $value): ?>
                        <a href="<?= str_replace('__TEXT__', urlencode($value->value()), $baseBrowse) ?>"><span class="badge badge-light"><?= $value->asHtml() ?></span></a>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </div>
                </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>

    <?php else: ?>

    <div class="row mt-2">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <?= $translate('Pas de collection.') ?>
                <button type="button" class="close" data-dismiss="alert" aria-label="<?= $translate('Close') ?>">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
       </div>
    </div>

    <?php endif; ?>

    <div class="row mt-2">
        <div class="col">
            <?php $this->trigger('view.browse.before'); ?>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col text-center pagination-bottom">
            <?= $pagination ?>
        </div>
    </div>

</div>
