<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Api\Representation\itemRepresentation[] $items
 * @var \Omeka\Api\Representation\itemRepresentation[] $resources
 * @var \Omeka\Api\Representation\itemSetRepresentation $itemSet
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$escape = $plugins->get('escapeHtml');
$assetUrl = $plugins->get('assetUrl');
$thumbnail = $plugins->get('thumbnail');
$trigger = $plugins->get('trigger');

$this->htmlElement('body')->appendAttribute('class', 'item resource browse');

$query = $this->params()->fromQuery();
$itemSetShow = isset($itemSet);
if ($itemSetShow):
    $this->htmlElement('body')->appendAttribute('class', 'item-set');
    $query['item_set_id'] = $itemSet->id();
endif;

$headingTerm = $this->siteSetting('browse_heading_property_term', 'dcterms:title');
$bodyTerm = $this->siteSetting('browse_body_property_term', 'dcterms:description');
$sortHeadings = [
    [
        'label' => $translate('Title'),
        'value' => 'dcterms:title',
    ],
    [
        'label' => $translate('Identifier'),
        'value' => 'dcterms:identifier',
    ],
    [
        'label' => $translate('Class'),
        'value' => 'resource_class_label',
    ],
    [
        'label' => $translate('Created'),
        'value' => 'created',
    ],
];
?>

<div class="container-fluid">

    <?php if ($itemSetShow): ?>

    <div class="row mt-2">
        <div class="col">
            <?= $this->pageTitle($itemSet->displayTitle(), 2) ?>
            <h3><?= $translate('Item set') ?></h3>
            <div class="metadata">
                <?= $itemSet->displayValues() ?>
            </div>
        </div>
    </div>
    <div class="item-set-items">
        <?= '<h3>' . $escape($translate('Items')) . '</h3>' ?>

    <?php else: ?>

    <div class="row mt-2">
        <div class="col">
            <?= $this->pageTitle($translate('Items'), 2) ?>
        </div>
    </div>

    <?php endif; ?>

    <div class="row mt-2">
        <div class="col">
            <?= $this->searchFilters() ?>
        </div>
    </div>

    <div class="browse-controls">
        <div class="row mt-2">
            <div class="col text-center pagination-top">
                <?= $pagination = $this->pagination() ?>
            </div>
        </div>
        <div class="row mt-2 mb-5">
            <div class="col-12 col-md-9">
                <?php if (count($items) > 1): ?>
                <?= $this->sortSelector($sortHeadings) ?>
                <?php endif; ?>
            </div>
            <div class="col-12 col-md-3 text-right">
                <?= $this->hyperlink($translate('Advanced search'), $this->url('site/resource', ['controller' => 'item', 'action' => 'search'], ['query' => $query], true), ['class' => 'advanced-search']) ?>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <?php $trigger('view.browse.before'); ?>
        </div>
    </div>

    <?php if (count($items)): ?>

    <div class="row mt-2">
        <div class="col">
            <ul id="resource-list" class="resource-list list-unstyled">
                <?php
                $noMedia = '<img class="img-thumbnail img-fluid rounded shadow mx-auto d-block" alt="' . $translate('No media') . '" src="' . $assetUrl('img/no_image.png') . '"/>';
                foreach ($items as $item):
                    $heading = $item->value($headingTerm, ['default' => $translate('[Untitled]')]);
                    $body = $item->value($bodyTerm);
                    $itemThumbnail = $thumbnail($item, 'medium', ['class' => 'img-thumbnail img-fluid rounded shadow mx-auto d-block', 'alt' => $heading]);
                ?>
                <li class="item resource media pb-2 mb-2 border-bottom">
                    <div class="media-thumbnail mr-3">
                        <?= $item->linkRaw($itemThumbnail ?: $noMedia) ?>
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0 mb-1"><?= $item->link($heading) ?></h5>
                        <?php if ($body): ?>
                        <div class="description"><?= $body ?></div>
                        <?php endif; ?>
                        <?php if ($values = $item->value('dcterms:subject', ['all' => true])): ?>
                            <?php $baseBrowse = $this->url('site/resource', [], ['query' => ['property' => [['property' => 'dcterms:subject', 'type' => 'eq', 'text' => '__TEXT__']]]], true); ?>
                            <?php foreach ($values as $value): ?>
                        <a href="<?= str_replace('__TEXT__', urlencode($value->value()), $baseBrowse) ?>"><span class="badge badge-light"><?= $value->asHtml() ?></span></a>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </div>
                </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>

    <?php else: ?>

    <div class="row mt-2">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <?= $translate('Pas d’autre document.') ?>
                <button type="button" class="close" data-dismiss="alert" aria-label="<?= $translate('Close') ?>">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
       </div>
    </div>

    <?php endif; ?>

    <?php if ($itemSetShow): ?>
    </div>
    <?php endif; ?>

    <div class="row mt-2">
        <div class="col">
            <?php $trigger('view.browse.before'); ?>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col text-center pagination-bottom">
            <?= $pagination ?>
        </div>
    </div>

</div>
