<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 */

$translate = $this->plugin('translate');
$escape = $this->plugin('escapeHtml');
$escapeAttr = $this->plugin('escapeHtmlAttr');
$url = $this->plugin('url');
$partial = $this->plugin('partial');
$params = $this->plugin('params');

$this->htmlElement('body')->appendAttribute('class', 'items search');
?>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2><?= $translate('Advanced item search') ?></h2>
            <form id="advanced-search" method="get" action="<?= $escapeAttr($url(null, ['action' => 'browse'], true)) ?>">
                <?= $partial('common/advanced-search', ['query' => $params->fromQuery(), 'resourceType' => 'item']) ?>
                <div id="page-actions">
                    <input type="submit" name="submit" class="btn btn-purplepink" value="<?= $escape($translate('Search')) ?>"/>
                </div>
            </form>
        </div>
    </div>
</div>
