<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Api\Representation\ItemRepresentation $item
 * @var \Omeka\Api\Representation\ItemRepresentation $resource
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$escape = $plugins->get('escapeHtml');
$assetUrl = $plugins->get('assetUrl');
$hyperlink = $plugins->get('hyperlink');
$thumbnail = $plugins->get('thumbnail');
// $url = $plugins->get('url');
// $siteSetting = $plugins->get('siteSetting');
$trigger = $plugins->get('trigger');

$hasNext = $plugins->has('breadcrumbs');
$hasUser = (bool) $this->identity();

$this->htmlElement('body')->appendAttribute('class', 'item resource show');

/** @var \Omeka\Api\Representation\MediaRepresentation[] $itemMedia */
// The process of media/show is the same for simplicity.
// TODO Merge item/show and media/show.
// $embedMedia = $siteSetting('item_media_embed', false);
$itemMedia = $item->media();

$hasUniversalViewer = $plugins->has('universalViewer');
if ($hasUniversalViewer):

    // UniversalViewer can't display html, so when there is an html media, use
    // default render for all files.
    $hasHtmlMedia = false;
    foreach ($itemMedia as $media):
        if ($media->renderer() === 'html'):
            $hasHtmlMedia = true;
            break;
        endif;
    endforeach;

// Standard viewers.
else:
    $this->headLink()
        ->appendStylesheet($assetUrl('vendor/lightslider/css/lightslider.min.css'))
        ->appendStylesheet($assetUrl('vendor/lightgallery/css/lightgallery.min.css'));
    $this->headScript()
        ->appendFile($assetUrl('vendor/lightslider/js/lightslider.min.js'), 'text/javascript', ['defer' => 'defer'])
        ->appendFile($assetUrl('vendor/lightgallery/js/lightgallery-all.min.js'), 'text/javascript', ['defer' => 'defer'])
        ->appendFile($assetUrl('vendor/jquery-mousewheel/jquery.mousewheel.js'), 'text/javascript', ['defer' => 'defer'])
    ;

    // First media determines the main type of display:
    // If the first media is an image/audio/video/youtube, the js viewer is used for all image/audio/video/youtube.
    // Else, the display uses the media renderer and only the first media is displayed.
    // Other media are just links.

    /*
    // https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types
    $supportedImageMediaTypes = [
        'image/apng', // Not IE.
        'image/bmp',
        'image/gif',
        'image/x-icon',
        'image/jpeg',
        'image/png',
        'image/svg+xml',
        // 'image/tiff', // Via extension only.
        'image/webp', // Not Safari.
    ];
    */

    /**
     * @var \Omeka\Api\Representation\MediaRepresentation $mainMedia
     * @var \Omeka\Api\Representation\MediaRepresentation[] $lightMedia
     * @var \Omeka\Api\Representation\MediaRepresentation[] $otherMedia
     */
    $mainMedia = null;
    $isCommon = null;
    $lightMedia = [];
    $otherMedia = [];

    foreach ($itemMedia as $media):
        $mediaType = $media->mediaType();
        $mainMediaType = strtok($mediaType, '/');
        $mediaRenderer = $media->renderer();
        $isCommonMedia = in_array($mainMediaType, ['image', 'video', 'audio'])
            || (strpos($mediaRenderer, 'youtube') !== false);
        if ($isCommonMedia):
            $lightMedia[] = $media;
        else:
            $otherMedia[] = $media;
        endif;
        if (!$mainMedia):
            $mainMedia = $media;
            $isCommon = $isCommonMedia;
        endif;
    endforeach;

    // TODO Remove this fix for video display.
    $isMainVideo = $mainMedia && strtok((string) $mainMedia->mediaType(), '/') === 'video';

    if ($isCommon === false):
        $otherMedia = $itemMedia;
        array_shift($otherMedia);
    endif;

endif;
?>

<div class="container-fluid">

    <div class="row mt-2">
        <div class="col">
            <?php $trigger('view.show.before'); ?>
        </div>
    </div>

    <div class="row mt-2 justify-content-end text-right">
        <div class="col">
            <nav class="navigation-items">
                <?php if ($hasNext): ?>
                <div class="previous-next-items btn-group" role="group" aria-label="<?= $translate('Navigation previous, all, and next') ?>">
                    <?php if ($previous = $this->previousResource($resource)): ?>
                    <a class="previous-item btn btn-purplepink" href="<?= $previous->siteUrl() ?>" title="<?= $translate('Previous item') ?>"><span class="fa fa-angle-left" aria-hidden="true"></span></a>
                    <?php else: ?>
                    <span class="previous-item btn btn-outline-purplepink disabled" title="<?= $translate('No previous item') ?>"><span class="fa fa-angle-left" aria-hidden="true"></span></span>
                    <?php endif; ?>
                    <?php /*
                    <a class="all-items btn btn-purplepink" href="<?= $url('site/resource', ['action' => 'browse'], true) ?>" title="<?= $translate('All items') ?>"><span class="fa fa-angle-up" aria-hidden="true"></span></a>
                    */ ?>
                    <?php if ($next = $this->nextResource($resource)): ?>
                    <a class="next-item btn btn-purplepink" href="<?= $next->siteUrl() ?>" title="<?= $translate('Next item') ?>"><span class="fa fa-angle-right" aria-hidden="true"></span></a>
                    <?php else: ?>
                    <span class="next-item btn btn-outline-purplepink disabled" title="<?= $translate('No next item') ?>"><span class="fa fa-angle-right" aria-hidden="true"></span></span>
                    <?php endif; ?>
                </div>
                <?php endif; ?>
                <div class="clearfix"></div>
            </nav>
        </div>
    </div>

    <?php if (count($itemMedia)): ?>
    <div class="media-list row mt-2 justify-content-center text-center">
        <div class="col">

        <?php if ($hasUniversalViewer && !$hasHtmlMedia): ?>

            <div id="media-uv" class="media-main">
                <?= $this->universalViewer($item) ?>
            </div>

        <?php elseif ($isCommon): ?>

            <ul id="gallery" class="media-gallery">
                <?php foreach ($lightMedia as $media): ?>
                    <?php $source = $media->thumbnailUrl('large') ?: $media->source(); ?>
                    <li class="resource media" data-src="<?= $source ?>" data-thumb="<?= $escape($media->thumbnailUrl('medium')) ?>">
                        <?php if ($isMainVideo): ?>
                        <div class="item-video">
                            <?= $media->render() ?>
                        </div>
                        <?php else: ?>
                        <div class="item-image">
                            <?= $media->render() ?>
                        </div>
                        <?php endif; ?>
                    </li>
                <?php endforeach; ?>
            </ul>

        <?php else: ?>

            <div id="single-media" class="media-main">
                <?= $mainMedia->render() ?>
            </div>

        <?php endif; ?>

        </div>
    </div>

    <?php endif; ?>

    <br class="mt-2"/>

    <?php // TODO Presenter le titre et les informations principales séparemment. ?>
    <div class="row mt-2 metadata">
        <div class="col">
            <?= $this->pageTitle($resource->displayTitle()) ?>

            <p class="text-center">
                <span class="resource-class"><?= $resource->displayResourceClassLabel() ?></span>
                <?php if (!$resource->isPublic()): ?>
                <span class="private fa fa-eye-slash" aria-hidden="false" title="<?= $translate('private') ?>"></span>
                <?php endif; ?>
            </p>

            <?= $resource->displayValues() ?>

            <?php $itemSets = $item->itemSets(); ?>
            <?php if (count($itemSets) > 0): ?>
            <dl class="row properties">
                <dt class="property text-right col-sm-3"><?= $translate('Item sets') ?></dt>
                <?php $isFirst = true; ?>
                <?php foreach ($item->itemSets() as $itemSet): ?>
                <dd class="value col-sm-9<?php if ($isFirst): $isFirst = false; else: echo ' offset-sm-3'; endif; ?>"><a href="<?= $escape($itemSet->url()) ?>"><?= $itemSet->displayTitle() ?></a></dd>
                <?php endforeach; ?>
            </dl>
            <?php endif; ?>

            <?php if ($hasUser && $itemMedia): ?>
            <dl id="other-media" class="row properties">
                <dt class="property text-right col-sm-3"><?= $translate('Tous les médias') ?></dt>
                <?php $isFirst = true; ?>
                <?php foreach ($itemMedia as $media): ?>
                <dd class="value col-sm-9<?php if ($isFirst): $isFirst = false; else: echo ' offset-sm-3'; endif; ?>">
                    <?php if ($originalUrl = $media->originalUrl()): ?>
                        <?= $hyperlink->raw(
                            sprintf('%s<span class="resource-name">%s</span>', $thumbnail($media, 'square'), $escape($media->displayTitle())),
                            $originalUrl
                        ) ?>
                    <?php else: ?>
                        <?= $media->linkPretty() ?>
                    <?php endif; ?>
                </dd>
                <?php endforeach; ?>
            </dl>
            <?php endif; ?>

        </div>
    </div>

    <?php
    $page = $this->params()->fromQuery('page', 1);
    $property = $this->params()->fromQuery('property');
    $subjectValues = $resource->displaySubjectValues($page, 25, $property);
    ?>
    <?php if ($subjectValues): ?>
    <div class="row mt-2">
        <div class="col">
            <div id="item-linked" class="properties">
                <h3><?= $translate('Linked resources') ?></h3>
                <?= $subjectValues ?>
            </div>
        </div>
    </div>
    <?php endif; ?>

    <div class="row mt-2">
        <div class="col">
            <?php $trigger('view.show.after'); ?>
        </div>
    </div>

</div>
