<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Api\Representation\ItemRepresentation $media
 * @var \Omeka\Api\Representation\ItemRepresentation $resource
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$escape = $plugins->get('escapeHtml');
$assetUrl = $plugins->get('assetUrl');
$hyperlink = $plugins->get('hyperlink');
$thumbnail = $plugins->get('thumbnail');
$trigger = $plugins->get('trigger');

$hasNext = $plugins->has('breadcrumbs');
$hasUser = (bool) $this->identity();

$this->headLink()
    ->appendStylesheet($assetUrl('vendor/lightslider/css/lightslider.min.css'))
    ->appendStylesheet($assetUrl('vendor/lightgallery/css/lightgallery.min.css'));
$this->headScript()
    ->appendFile($assetUrl('vendor/lightslider/js/lightslider.min.js'), 'text/javascript', ['defer' => 'defer'])
    ->appendFile($assetUrl('vendor/lightgallery/js/lightgallery-all.min.js'), 'text/javascript', ['defer' => 'defer'])
    ->appendFile($assetUrl('vendor/jquery-mousewheel/jquery.mousewheel.js'), 'text/javascript', ['defer' => 'defer'])
;

$this->htmlElement('body')->appendAttribute('class', 'media resource show');
?>

<div class="container-fluid">

    <div class="row mt-2">
        <div class="col">
            <?php $trigger('view.show.before'); ?>
        </div>
    </div>

    <div class="row mt-2 justify-content-end text-right">
        <div class="col">
            <nav class="navigation-medias">
                <?php if ($hasNext): ?>
                <div class="previous-next-items btn-group" role="group" aria-label="<?= $translate('Navigation previous, all, and next') ?>">
                    <?php if ($previous = $this->previousResource($resource)): ?>
                    <a class="previous-media btn btn-purplepink" href="<?= $previous->siteUrl() ?>" title="<?= $translate('Previous media') ?>"><span class="fa fa-angle-left" aria-hidden="true"></span></a>
                    <?php else: ?>
                    <span class="previous-media btn btn-outline-purplepink disabled" title="<?= $translate('No previous media') ?>"><span class="fa fa-angle-left" aria-hidden="true"></span></span>
                    <?php endif; ?>
                    <?php /*
                    <a class="all-items btn btn-purplepink" href="<?= $url('site/resource', ['action' => 'browse'], true) ?>" title="<?= $translate('All items') ?>"><span class="fa fa-angle-up" aria-hidden="true"></span></a>
                    */ ?>
                    <?php if ($next = $this->nextResource($resource)): ?>
                    <a class="next-media btn btn-purplepink" href="<?= $next->siteUrl() ?>" title="<?= $translate('Next media') ?>"><span class="fa fa-angle-right" aria-hidden="true"></span></a>
                    <?php else: ?>
                    <span class="next-media btn btn-outline-purplepink disabled" title="<?= $translate('No next media') ?>"><span class="fa fa-angle-right" aria-hidden="true"></span></span>
                    <?php endif; ?>
                </div>
                <?php endif; ?>
                <div class="clearfix"></div>
            </nav>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <?php
            $mediaType = $media->mediaType();
            $mainMediaType = strtok($mediaType, '/');
            $mediaRenderer = $media->renderer();
            // Common media are managed by lightviewer.
            $isCommonMedia = (in_array($mainMediaType, ['image', 'video', 'audio']) && $mediaRenderer !== 'tile')
                || (strpos($mediaRenderer, 'youtube') !== false);
            if ($isCommonMedia):
            ?>

            <?php $isMainVideo = strtok((string) $media->mediaType(), '/') === 'video'; ?>
            <ul id="gallery" class="media-gallery">
                <?php $source = $media->thumbnailUrl('large') ?: $media->source(); ?>
                <li class="resource media" data-src="<?= $source ?>" data-thumb="<?= $escape($media->thumbnailUrl('medium')) ?>">
                    <?php if ($isMainVideo): ?>
                    <div class="item-video">
                        <?= $media->render() ?>
                    </div>
                    <?php else: ?>
                    <div class="item-image">
                        <?= $media->render() ?>
                    </div>
                    <?php endif; ?>
                </li>
            </ul>

            <?php else: ?>

            <div id="single-media" class="media-main">
                <?= $media->render() ?>
            </div>

            <?php endif; ?>

        </div>
    </div>

    <br class="mt-2"/>

    <div class="row mt-2 metadata">
        <div class="col">
            <?= $this->pageTitle($media->displayTitle(), 2) ?>
            <h3><?= $translate('Media') ?></h3>

            <?= $media->displayValues() ?>

            <?php if ($hasUser && $media->hasOriginal()): ?>
            <dl id="other-media" class="row properties">
                <dt class="property text-right col-sm-3"><?= $translate('Télécharger') ?></dt>
                <dd class="value col-sm-9">
                    <?= $hyperlink->raw(
                        sprintf('%s<span class="resource-name">%s</span>', $thumbnail($media, 'square'), $escape($media->displayTitle())),
                        $media->originalUrl()
                    ) ?>
                </dd>
            </dl>
            <?php endif; ?>

        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <?php $trigger('view.show.after'); ?>
        </div>
    </div>

</div>
