<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Api\Representation\SitePageRepresentation $page
 */

$this->htmlElement('body')->appendAttribute('class', 'page');
$this->pageTitle($page->title(), 2);

$showPagePagination = $this->siteSetting('show_page_pagination', true);

$isHomePage = $this->IsHomePage();

$nav = $site->publicNav();
$container = $nav->getContainer();
$activePage = $nav->findActive($container);
?>

<?php if ($activePage): ?>
    <?php if ($activePage['depth'] !== 0): ?>
    <nav class="breadcrumbs"><?= $nav->breadcrumbs() ?></nav>
    <?php endif; ?>
<?php endif; ?>

<?php if ($activePage): ?>
    <?php if ($this->displayNavigation && $activePage['page']->hasPages()): ?>
    <nav class="sub-menu"><?= $nav->menu()->renderSubMenu() ?></nav>
    <?php endif; ?>
<?php endif; ?>

<?php $this->trigger('view.show.before'); ?>
<div class="blocks<?php if (!$isHomePage): ?> container-fluid<?php endif; ?>">
    <?= $this->content ?>
</div>
<?php $this->trigger('view.show.after'); ?>

<?php if ($showPagePagination): ?>
<?= $this->sitePagePagination() ?>
<?php endif; ?>
