<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Collecting\Api\Representation\CollectingFormRepresentation $cForm
 */

?>

<div class="row mt-2">
    <div class="col">
        <h2><?= $this->escapeHtml($cForm->label()) ?></h2>
        <?= $this->form($cForm->getForm()) ?>
    </div>
</div>
