<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Collecting\Api\Representation\CollectingFormRepresentation[] $cForms
 */

$translate = $this->plugin('translate');
$escape = $this->plugin('escapeHtml');
$partial = $this->plugin('partial');
?>

<div class="row mt-2">
    <div class="col">
        <select class="collecting-form-select">
            <option value=""><?= $translate('Select a form…') ?></option>
            <?php foreach ($cForms as $cForm): ?>
            <option value="<?= $cForm->id() ?>"><?= $escape($cForm->label()) ?></option>
            <?php endforeach; ?>
        </select>

        <?php foreach ($cForms as $cForm): ?>
        <div class="collecting-form <?= sprintf('collecting-form-%s', $cForm->id()) ?>">
            <?= $partial('common/block-layout/collecting-block-one', [
                'cForm' => $cForm,
            ]); ?>
        </div>
        <?php endforeach; ?>
    </div>
</div>
