<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 */

// La page d'accueil doit contenir un bloc "search-form-results-filters", qui est utilisée comme entête.

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$escape = $plugins->get('escapeHtml');
$url = $plugins->get('url');
$assetUrl = $plugins->get('assetUrl');
$themeSetting = $plugins->get('themeSetting');
$partial = $plugins->get('partial');
$stringUrl = $plugins->get('StringUrl');

$user = $this->identity();
$hasUser = (bool) $user;

$siteTitle = $site->title();
$isHomePage = $this->IsHomePage();

$this->htmlElement('html')
    ->setAttribute('lang', $this->lang());
$this->headMeta()
    ->setCharset('utf-8')
    ->appendName('viewport', 'width=device-width, initial-scale=1');
$this->headTitle($this->setting('installation_title', 'Omeka S'))
    ->setSeparator(' · ');

// The event "view.layout" is triggerd before the preparation of the default
// links and scripts, so in all cases jQuery is loaded first and and custom css
// and js of the theme are loaded last. It resolves many issues with modules.
$this->trigger('view.layout');

$this->headLink()
    // ->appendStylesheet('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700')
    ->appendStylesheet($assetUrl('css/fonts.css'))
    // ->appendStylesheet('https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    ->appendStylesheet($assetUrl('vendor/bootstrap/css/bootstrap.min.css'))
    // TODO Use Font awesome v5 from Omeka core.
    // $this->headLink(['rel' => 'stylesheet', 'href'=> 'https://use.fontawesome.com/releases/v5.7.0/css/all.css', 'integrity' => 'sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', 'crossorigin' => 'anonymous']);
    ->appendStylesheet($assetUrl('vendor/font-awesome/css/font-awesome.min.css'))
    // Custom css.
    ->appendStylesheet($assetUrl('css/style.css'))
    ->appendStylesheet($assetUrl('css/custom.css'))
;
if ($isHomePage):
    $plugins->get('FrontPageImage')('#intro');
endif;

$this->headScript()
    // All js are deferred, except jquery, to manage modules issues.
    ->prependFile($assetUrl('js/global.js', 'Omeka'), 'text/javascript', ['defer' => 'defer'])
    // ->prependFile($assetUrl('vendor/jquery/jquery.min.js'), 'text/javascript', ['defer' => 'defer'])
    ->prependFile($assetUrl('vendor/jquery/jquery.min.js', 'Omeka'), 'text/javascript')
    ->appendFile($assetUrl('vendor/mobile-nav/mobile-nav.js'), 'text/javascript', ['defer' => 'defer'])
    ->appendFile($assetUrl('vendor/bs-custom-file-input/bs-custom-file-input.min.js'), 'text/javascript', ['defer' => 'defer'])
    ->appendFile($assetUrl('js/custom.js'), 'text/javascript', ['defer' => 'defer'])
;

$userBar = $this->userBar();

?>
<?= $this->doctype() ?>
<?= $this->htmlElement('html') ?>
    <head>
        <?= $this->headMeta() ?>
        <link rel="shortcut icon" href="<?= $assetUrl('img/favicon.ico') ?>" type="image/x-icon" />
        <?= $this->headTitle() ?>
        <?= $this->headLink() ?>
        <?= $this->headStyle() ?>
        <?php /* ?>!-- Uncomment to use a preloader */ ?>
        <?php /* <div id="preloader"></div> */ ?>
        <?= $this->headScript() ?>
    </head>

    <?= $this->htmlElement('body') ?>

        <?php // TODO  C'est le header de la home page, faire l'entête simplifié pour les autres pages. ?>

        <?php /*
        ============================
        Header
        ============================
        */ ?>
        <?php // Entête simplifié pour la home page : le bloc search-results-home le contient. ?>
        <?php if ($isHomePage): ?>

        <header id="header" class="top-pos">
            <?php if ($userBar): ?>
            <div class="container-fluid">
                <?= $userBar ?>
            </div>
            <?php endif; ?>

            <div class="container-fluid">
                <div class="logo float-left d-none d-md-block">
                <?php $logo = $themeSetting('logo') ? $this->themeSettingAssetUrl('logo') : $assetUrl('img/logo.png'); ?>
                    <h1 class="text-light"><a href="<?= $site->siteUrl() ?>" class="scrollto"><img src="<?= $logo ?>" alt="<?= $escape($siteTitle) ?>"></a></h1>
                    <p><?= $translate('Médiathèque') ?></p>
                    <?php /* <a href="#header" class="scrollto"><img src="<?= $assetUrl('img/logo.png') ?>" alt="" class="img-fluid"></a> */ ?>
                </div>
                <div class="float-right d-none d-md-block">
                    <?php if ($hasUser): ?>
                        <?php if ($label = trim(strtok($themeSetting('link_contribution'), '|'))): ?>
                            <?php $linkUrl = $stringUrl(trim(strtok('|'))); ?>
                    <a href="<?= $linkUrl ?>" class="btn btn-purplepink btn-lg active bg-color" role="button"><?= $label ?><i class="fa fa-chevron-right icon"></i></a>
                        <?php endif; ?>
                    <?php else: ?>
                    <a href="#loginModal" id="btnLogin" data-toggle="modal" class="btn btn-purplepink btn-lg active bg-color" role="button"><?= 'Connexion' // $translate('Login') ?><i class="fa fa-user icon"></i></a>
                    <?php endif; ?>
                </div>
            </div>
        </header>

        <?php else: // Entête des autres pages. ?>

        <?php if ($userBar): ?>
        <?= $userBar ?>
        <?php endif; ?>

        <nav class="navbar navbar-expand-lg navbar-dark bg-purplepink">
            <a class="navbar-brand" href="<?= $site->url() ?>">
                <?php $logo = $themeSetting('logo') ? $this->themeSettingAssetUrl('logo') : $assetUrl('img/logo.png'); ?>
                <img src="<?= $logo ?>" height="48"/>
            </a>
            <button class="navbar-toggler btn-purplepink" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="<?= $translate('Toggle navigation') ?>">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <?= $this->partial('common/search-form') ?>
            </div>
        </nav>

        <?php /*
        <header id="header" class="header container-fluid  px-5">
        </header>
        */ ?>

        <?php endif; ?>

        <?php // Pas de container pour la home page (géré via le bloc search-results-home). ?>
        <?php if ($isHomePage): ?>

        <main id="content">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <?= $this->messages() ?>
                    </div>
                </div>
            </div>
            <?= $this->content ?>
        </main>

        <?php else: ?>

        <br class="clear-fix"/>
        <div class="container-fluid">
            <main id="content" class="row mt-2">
                <?= $this->messages() ?>
                <?= $this->content ?>
            </main>
        </div>

        <?php endif; ?>

        <?php /*
        ============================
        Footer
        ============================
        */ ?>
        <?php // TODO Save the theme settings with a filter or a js in order to avoid to redo the splitting. ?>
        <footer id="footer" class="section-bg text-xs-center mt-2">
            <?php if ($footerContent = $themeSetting('footer')): ?>
            <?= $footerContent ?>
            <?php endif; ?>
            <div class="footer-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-7 text-sm-center text-md-left">
                            <?php if ($label = trim(strtok($themeSetting('link_institutional'), '|'))): ?>
                            <div class="d-inline-block mr-sm-5">
                                <?php $linkUrl = $stringUrl(trim(strtok('|'))); ?>
                                <a href="<?= $linkUrl ?>" class="footer-text"<?php if (strpos($linkUrl, '/')): ?> target="_blank"<?php endif; ?>><?= $label ?></a>
                            </div>
                            <?php endif; ?>
                            <?php if ($links = array_filter(array_map('trim', preg_split('/\n|\r\n?/', $themeSetting('links_social'))))): ?>
                            <div class="d-inline-block">
                                <div class="social-links">
                                    <?php /* <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> */ ?>
                                    <?php foreach ($links as $link): ?>
                                    <?php $linkUrl = $stringUrl(trim(strtok($link, '|'))); ?>
                                    <a href="<?= $linkUrl ?>" class="<?= $icon = trim(strtok('|')) ?>"<?php if (strpos($linkUrl, '/')): ?> target="_blank"<?php endif; ?>><i class="fa fa-<?= $icon ?>"></i></a>
                                    <?php endforeach; ?>
                                </div>
                            </div>
                            <?php endif; ?>
                        </div>
                        <?php if ($label = trim(strtok($themeSetting('link_legal'), '|'))): ?>
                        <div class="col-md-5 text-sm-center mt-sm-3 mt-md-0">
                            <?php $linkUrl = $stringUrl(trim(strtok('|'))); ?>
                            <a href="<?= $linkUrl ?>" class="footer-text float-lg-right float-sm-none"<?php if (strpos($linkUrl, '/')): ?> target="_blank"<?php endif; ?>><?= $label ?></a>
                        </div>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
            <button class="back-to-top btn btn-light pl-2 pr-2"><img src="<?= $assetUrl('img/gototop.png') ?>"/></button>
        </footer>

        <?php /*
        ============================
        Hidden modal login
        ============================
        */ ?>
        <?php if (!$hasUser): ?>
        <?= $partial('common/login-form-modal', ['site' => $site]) ?>
        <?php endif; ?>
    </body>
</html>
